/* Define a posição da div que contém o conteúdo definido pelo ui-view */
.box1 {
    display: flex;
    box-sizing: border-box;
    min-width: 100%;
    max-height: 100%;
    flex: 1 1 100%;
}

/* Rodapé */
footer {
   border: 2px solid blue; 
}
