<div class="container" ng-controller="alunoController">
    
    <div layout="column" layout-align="start stretch">
        <div class="page-header">
            <h1>Cadastrar Aluno</h1>
        </div>
    
        <form>
        
            <div>
                <input type="text" ng-model="aluno.nome" placeholder="Nome" required>
            </div>

            <div>
                <input type="text" ng-model="aluno.matricula" ng-keyup="addCampo()" placeholder="Matrícula" required>
            </div>

            <div>
                <button class="btn btn-primary" ng-click="adicionarAluno()">
                    Adicionar Aluno
                </button>
            </div>        
        </form>
    </div>
</div>