<!DOCTYPE html>
<html ng-app="AngularApp">

<head>
    <title>AngularJS - Minha Aplicação</title>

    <!-- Angular -->
    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-route.min.js"></script>
    <script src="js/lib/angular-ui-router.min.js"></script>
    <script src="js/lib/angular-sanitize.min.js"></script>
    <script src="js/lib/angular-animate.min.js"></script>
    <script src="js/lib/angular-aria.min.js"></script>

    <!-- Angular Material -->
    <script src="js/lib/angular-material.min.js"></script>
    <link rel="stylesheet" href="css/angular-material.min.css">

    <!-- JQuery -->
    <script src="js/lib/jquery.min.js"></script>

    <!-- Bootstrap -->
    <script src="js/lib/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <!-- Tether - Dependência obrigatória do Bootstrap -->
    <script src="js/lib/tether.min.js"></script>
    <link rel="stylesheet" href="css/tether.min.css">

    <!-- App -->
    <script src="js/app.js"></script>
    <script src="js/router/router.js"></script>
    <script src="js/router/state.js"></script>
    <script src="js/interceptor/conectionRefused.js"></script>

    <!-- Controller -->
    <script src="js/controller/alunoController.js"></script>
    <script src="js/controller/menuController.js"></script>
    
    <!-- Service -->
    <script src="js/service/alunoService.js"></script>
    <script src="js/service/escolaService.js"></script>
    <script src="js/service/menuService.js"></script>
    
    <!-- Diretiva -->
    <script src="js/directives/menuLinkDirective.js"></script>
    <script src="js/directives/menuToggleDirective.js"></script>
    
    <!-- CSS -->
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="css/menu.css">

</head>

<body ng-cloak layout="column">

    <!-- Menu Superior - Cabeçalho -->
    <md-toolbar>
        Logotipo
    </md-toolbar>

    <div flex layout="row">

        <!-- Menu Lateral -->
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4">

            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Menu Lateral</h1>
            </md-toolbar>
            <!-- É necessário criar um controller para gerenciar o Sidnav: MenuController -->
            <md-content layout-padding ng-controller="MenuController as vm">
                
                <ul class="side-menu">
                  <li ng-repeat="section in vm.menu.sections" class="parent-list-item"
                      ng-class="{'parentActive' : vm.isSectionSelected(section)}">
                    <h2 class="menu-heading" ng-if="section.type === 'heading'"
                        id="heading_{{ section.name | nospace }}">
                      {{section}}
                    </h2>
                    <menu-link section="section" ng-if="section.type === 'link'"></menu-link>
                    <menu-toggle section="section" ng-if="section.type === 'toggle'"></menu-toggle>
                  </li>
                </ul>

            </md-content>

        </md-sidenav>

        <!-- Conteúdo que muda dependendo da navegação escolhida -->
        <div layout="column" layout-align="start center">
            <div class="box1">
                <div ui-view>
                    <!-- Conteúdo da rota atual -->
                </div>
            </div>
        </div>
    </div>

    <!-- Rodapé -->
    <footer>
        Rodapé
    </footer>

</body>

</html>
