<div class="container" ng-controller="alunoController">

    <div class="row">
        <form class="form-inline">            
            <input type="number" ng-model="aluno.id" placeholder="Identificador" class="input-small" required>
            <input type="text" ng-model="aluno.nome" placeholder="Nome" required>
            <input type="text" ng-model="aluno.matricula" placeholder="Matrícula" required>
            
            <button class="btn btn-primary" ng-click="adicionaAluno()">Adicionar Aluno</button>
            
        </form>
        
        <button class="btn btn-primary" ng-click="listarAlunos()">Listar Alunos</button>
    </div>
    
    <div class="row">
        <div class="page-header">
            <h1>Lista de Alunos</h1>
        </div>
    </div>

    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                  <th>Identificador</th>
                  <th>Nome</th>
                  <th>Matrícula</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="aluno in alunos">
                  <td>{{ aluno.id }}</td>
                  <td>{{ aluno.nome }}</td>
                  <td>{{ aluno.matricula }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>