<div class="container" ng-controller="alunoController">

    <div class="row">
        <div class="page-header">
            <h1>Listar Alunos</h1>
        </div>
    </div>
    
    <div class="row">
            
        <button class="btn btn-primary" ng-click="listarAlunos()">
            Listar Aluno
        </button>
            
    </div>

    <div class="row">
        <table class="table table-striped">
            <thead>
                <tr>
                  <th>Identificador</th>
                  <th>Nome</th>
                  <th>Matrícula</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="aluno in alunos">
                  <td>{{ aluno.id }}</td>
                  <td>{{ aluno.nome }}</td>
                  <td>{{ aluno.matricula }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>