* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    border: 1px solid yellow;
}

div.wrapper {
    border: 1px solid red;
    height: 100%;
    display: flex;
    flex-direction: column;
}

li {
    list-style: none;
    display: inline;
    margin: 5px;
}

main {
    border: 1px solid blue;
    flex-grow: 1;
}

