<!DOCTYPE html>
<html ng-app="AngularApp">

<head>
    <meta charset="utf-8">
    <title>Título da página</title>

    <link rel="stylesheet" href="css/app.css" type="text/css">

    <script src="js/lib/angular-1.6.5/angular.min.js">
    </script>

    <script src="js/app.js" type="text/javascript"></script>
</head>

<body>
    <div class="wrapper">
        <header>
            Cabeçalho
            <nav>
                <ul>
                    <li>
                        <a href="#">Item 1</a>
                    </li>
                    <li>
                        <a href="#">Item 2</a>
                    </li>
                    <li>
                        <a href="#">Item 3</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main ng-controller="meuController">
            Conteúdo Principal
            <form>
                <div>
                    <p>Name :
                        <input type="text" name="aluno" ng-model="aluno">
                    </p>
                    <h1 ng-click="mudarAluno()">Olá {{aluno}}</h1>
                </div>
            </form>

            <ul>
                <li ng-repeat="nome in alunos">
                    {{ nome }}
                </li>
            </ul>
        </main>

        <footer>
            Rodapé
        </footer>
    </div>
</body>

</html>