<main>
    <form ng-controller="PesquisarEscolaCtrl">
      <div class="box">
          <div class="form-group">
              <label for="nome">
                  Código:
              </label>
              <input class="form-control" type="text" name="codEscola"
                ng-model="codEscola" />
          </div>

          <button type="button" class="btn btn-primary btn-lg btn-block"
            ng-click="pesquisarEscola(codEscola)">
              Pesquisar
          </button>
      </div>

      <!-- Tabela da Escola -->
      <div class="box">
          <table class="table table-hover">
              <thead class="thead-light">
                  <tr>
                      <th scope="col">Código</th>
                      <th scope="col">Nome</th>
                      <th scope="col">Rede</th>
                      <th scope="col">E-mail</th>
                      <th scope="col">Categoria</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td scope="row">{{escola.codEscola}}</td>
                      <td scope="row">{{escola.nome}}</td>
                      <td scope="row">{{escola.rede}}</td>
                      <td scope="row">{{escola.email}}</td>
                      <td scope="row">{{escola.categoriaEscolaPrivada}}</td>
                  </tr>
              </tbody>
          </table>
      </div>
    </form>
</main>
