p {
  color: rgb(70, 130, 180);
}

p.laranja {
  color: rgb(255, 140, 0);
}

h1.roxo {
  color: rgb(71, 60, 139);
}

body {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  font-size: 1.5em;
}

h1 {
  font-family: serif;
}

h1 {
  border-bottom: 3px solid gray;
}

section {
  margin: 4px;
  padding: 10px;
}

.historia {
  color: green;
}

main {
    width: 700px;
    margin: 10 5 5 10;
}

#principal {
  border: 1px solid skyblue;
}
