/* CSS - Menu */
.navigation {
    list-style: none;
    margin: 0;
    background: deepskyblue;
    
    /* Flex para o parent */
    display: flex;
    flex-direction: row-reverse;
}

.navigation a {
    text-decoration: none;
    display: block;
    padding: 1em;
    color: white;
}

.navigation a:hover {
    background: rgba(70, 130, 180, .5);
}