<!-- Aluno - Formulário -->
<form name="alunoForm">
  <div class="form-group">
    <!-- Nome -->
    <label for='nome'> Nome: </label>
    <input type='text' name='nome' class="form-control" ng-model="aluno.nome" ng-minlength="3" ng-maxlength="25">
    <div>
      <div ng-show="alunoForm.nome.$error.minlength && alunoForm.nome.$dirty" class="alert alert-danger">
        Por favor, o Nome não tem o tamanho mínimo válido!
      </div>
      <div ng-show="alunoForm.nome.$error.maxlength && alunoForm.nome.$dirty" class="alert alert-danger">
        Por favor, o Nome não tem o tamanho máximo válido!
      </div>
    </div>
  </div>

  <!-- Botões -->
  <button type='reset' ng-click="limparBusca()" name='limpar' class="btn btn-secondary btn-lg btn-block">
    Limpar
  </button>
  <button ng-click="listar()" class="btn btn-dark btn-lg btn-block">
    Listar
  </button>
</form>

<!-- Tabela de Alunos -->
<div>
  <table class="table table-hover">
    <thead class="thead-light">
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Matrícula</th>
        <th scope="col">Nascimento</th>
        <th scope="col">Endereco</th>
        <th scope="col">Curso</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="aluno in alunos">
        <td scope="row">{{aluno.id}}</td>
        <td scope="row">{{aluno.nome}}</td>
        <td scope="row">{{aluno.cpf}}</td>
        <td scope="row">{{aluno.matricula}}</td>
        <td scope="row">{{aluno.nascimento}}</td>
        <td scope="row">{{aluno.fk_id_endereco}}</td>
        <td scope="row">{{aluno.fk_id_curso}}</td>
      </tr>
    </tbody>
  </table>
</div>
