/* Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, verdana, helvetica, sans-serif;
}

/* Box principal: container*/
.meu-container{
  margin: 0 auto;
  padding: 0;
  width: 80%;
  min-height: 100vh;
  /* Flex */
  display: flex;
  flex-direction: column;
}

header {
  background-color: #02734A;
}

main {
  background-color: #D9D4D0;
  flex-grow: 1;
}

footer {
  background-color: #BF7256;
}

.wrapper {
  padding: 0;
}
