/* reset */
* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.box {
    margin: 15px 5px;
}

header {
    background-color: grey;  
    width: 100%;
    display: block;    
}

main {
    flex-grow: 1;
    background-color: lightgray;
}

footer {
    background-color: #FF5733;
    width: 100%;
}